<template>
  <div>
    <div class="equation">
      <div class="fractions">
        <fraction
          @remove="removeItem(i)"
          @new-data="update($event, i)"
          :numerator="f.numerator"
          :denominator="f.denominator"
          :remove="remove"
          v-for="(f, i) in fractions" :key="JSON.stringify(f) + i">
        </fraction>
      </div>
      <result :result="result"/>
    </div>
    <hr>
    <button @click="add()" v-if="fractions.length < 5">add new element</button>
  </div>
</template>

<script>
// @ is an alias to /src
import Fraction from '@/components/Fraction'
import Result from '@/components/Result'
import {calc} from '@/utils/calc'

export default {
  name: 'Home',
  components: {
    Fraction,
    Result
  },
  computed: {
    remove () {
      return this.fractions.length > 2
    },
    result () {
      let result = ""

      this.fractions.forEach((el, i) => {
        if (i == 0) {
          result = {...el}
        } else {
          result =  calc(
            result.numerator,
            result.denominator,
            el.numerator,
            el.denominator,
          )
        }
      }) 
      
      return result
    }
  },
  data () {
    return {
      fractions: [
        {
          numerator: 1,
          denominator: 1
        },
        {
          numerator: 1,
          denominator: 2
        }
      ] 
    }
  },
  methods: {
    add() {
      this.fractions.push({
        numerator: 1,
        denominator: 2
      })
    },
    removeItem(i) {
      console.log(i)
      this.fractions.splice(i, 1)
    },
    update(data, i) {
      this.fractions[i].numerator = data.numerator
      this.fractions[i].denominator = data.denominator
    }
  }
}
</script>
<style lang="sass" scoped>
.fractions
  display: flex
button
  margin-top: 10px
  display: block
  padding: 10px
  border-radius: 5px
  background: none
  border: 1px solid #000
.equation
  display: flex

    
</style>
