<template>
  <div class="fraction">
    <span class="remove" v-if="remove" @click="$emit('remove')">x</span>
    <div class="nums">
      <input-number v-model="num"/>
      <hr>
      <input-number v-model="denom"/>
    </div>
    <span class="plus">+</span>
  </div>
</template>
<script> 
import InputNumber from '@/components/InputNumber.vue'
export default {
  components: {
    InputNumber
  },
  props: {
    numerator: {
      default: ''
    },
    denominator: {
      default: ''
    },
    remove: {
      default: false
    }
  },
  data () {
    return {
      num: this.numerator,
      denom: this.denominator,
    }
  },
  watch: {
    num () {
      this.returnData()
    },
    denom () {
      this.returnData()
    }
  },
  methods: {
    returnData() {
      this.$emit('new-data', {
        numerator: this.num,
        denominator: this.denom
      })
    }
  }
  
}
</script>

<style scoped lang="sass">
.fraction
  display: flex
  position: relative
  align-items: center
  .nums
    width: 50px
    padding: 0 5px
    input
      width: 100%
      height: 40px
      padding: 0 5px
      text-align: center
      display: block
      margin: 0 auto
      border-border: 2px
    hr
      margin: 5px -5px
  .remove
    position: absolute  
    top: 0
    left: 60px
    color: #f00
    cursor: pointer
  .plus
    font-size: 25px
    margin: 0 15px
  &:last-child,
  &:nth-child(-n-1)
    .plus
      display: none
</style>