<template>
  <input type="text" 
    v-model="val" 
    @input="calc()"
    @keypress="onlyNumber">
</template>

<script>
export default {
  props: {
    value: {
      default: ''
    }
  },
  data () {
    return {
      val: this.value,
      MINVAL: 1,
      MAXVAL: 99,
    }
  },
  methods: {
    onlyNumber ($event) {
      const key = parseInt($event.key)
      if (isNaN(key)) {
        $event.preventDefault()
        return 
      }
    },
    range (val) {
      if (val < this.MINVAL) {
        return 1 
      }

      if (val > this.MAXVAL) {
        return 99
      }

      return val
    },
    calc () {
      const value = this.range(this.val)
      this.val = value
      this.$emit('input', value)
    }
  }
}
</script>
