<template>
  <div class="result">
    <span class="flat">=</span>
    <span class="num" v-if="checkItmes">{{number}}</span>
    <div class="divide" v-if="numerator > 0">
      <div class="numerator" >
        {{numerator}}
      </div>
      <hr>
      <div class="denominator">
        {{denominator}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['result'],
  computed: {
    checkItmes () {
      const numerator = this.result.numerator
      const denominator = this.result.denominator
      return numerator >= denominator
    },

    number () {
      let number = 0
      if (this.checkItmes) {
        let flag = this.result.numerator % this.result.denominator
        number = (this.result.numerator - flag) / this.result.denominator
      }
      
      return number
    },


    denominator () {
      return this.result.denominator
    },

    numerator () {
      let numerator = this.result.numerator 
      if(this.checkItmes) {
        numerator = this.result.numerator % this.result.denominator
      }
      return numerator
    }
  }
}
</script>

<style lang="sass" scoped>
.result
  display: flex
  align-items: center
  color: green
  .flat
    margin: 15px
    font-size: 25px
  .num
    font-size: 30px
    margin-right: 15px
  hr
    margin: 5px -5px
  .divide
    text-align: center
    font-size: 25px
</style>